KT1/ZH-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.ftn.uns.ac.rs/xwt" xmlns="http://www.ftn.uns.ac.rs/xwt">

    <xs:element name="zahtev">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="naziv" type="xs:string"/>
                <xs:element name="zavod" type="TZavod"/>
                <xs:element name="podnosilac" type="TLice"/>
                <xs:element name="punomocnik" type="TLice"/>
                <xs:element name="zig" type="TZig"/>
                <xs:element name="placene_takse">
                    <xs:complexType>
                        <xs:sequence maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="taksa" type="TTaksa"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="prilozi" type="TPrilozi"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TAdresa">
        <xs:all>
            <xs:element name="ulica" type="xs:string"/>
            <xs:element name="broj" type="xs:positiveInteger"/>
            <xs:element name="postanski_broj">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="11000"/>
                        <xs:maxInclusive value="40000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="mesto" type="xs:string"/>
            <xs:element name="drzava" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TZavod">
        <xs:sequence>
            <xs:element name="naziv" type="xs:string"/>
            <xs:element name="adresa" type="TAdresa"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TKontakt">
        <xs:all>
            <xs:element name="telefon" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element minOccurs="0" name="fax" type="xs:string"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType abstract="true" name="TLice">
        <xs:sequence>
            <xs:element name="adresa" type="TAdresa"/>
            <xs:element name="kontakt" type="TKontakt"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TZnak">
        <xs:sequence>
            <xs:element name="tip_znaka">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="verbalni_znak"/>
                        <xs:enumeration value="graficki_znak"/>
                        <xs:enumeration value="kombinovani_znak"/>
                        <xs:enumeration value="trodimenzionalni_znak"/>
                        <xs:enumeration value="drugi_znak"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="izgled_znaka">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="boje">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="boja" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="opis_znaka" type="xs:string"> </xs:element>
            <xs:element name="transliteracija_znaka" type="xs:string" minOccurs="0"/>
            <xs:element name="prevod_znaka" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TZig">
        <xs:sequence>
            <xs:element name="tip_ziga">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="individualni_zig"/>
                        <xs:pattern value=""/>
                        <xs:enumeration value="kolektivni_zig"/>
                        <xs:enumeration value="zig_garancije"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="newElement" type="TZnak"/>
            <xs:element name="brojevi_klasa_robe">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="broj" type="xs:positiveInteger"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="zatrazeno_pravo" type="xs:string"/>
            <xs:element name="broj_prijave_ziga" type="xs:positiveInteger"/>
            <xs:element name="datum_podnosenja" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TTaksa">
        <xs:sequence>
            <xs:element name="tip_takse">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="osnovna_taksa"/>
                        <xs:enumeration value="za____klasa"/>
                        <xs:enumeration value="za_graficko_resenje"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="iznos">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:double">
                            <xs:attribute name="valuta"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TPrilozi">
        <xs:sequence>
            <xs:element name="primerak_znaka">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="spisak_robe_i_usluga">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="roba">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="src"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="punomocje">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="generalno_punomocje">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="punomocje_naknadno_dostavljeno">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="opsti_akt">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dokaz_o_pravu_prvenstva">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dokaz_o_uplati_takse">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="src"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TFizickoLice">
        <xs:complexContent>
            <xs:extension base="TLice">
                <xs:sequence>
                    <xs:element name="ime" type="xs:string"/>
                    <xs:element name="prezime" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TPravnoLice">
        <xs:complexContent>
            <xs:extension base="TLice">
                <xs:sequence>
                    <xs:element name="poslovno_ime" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
